
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Cron schedule for FreeRADIUS only mode / owned by root  ##
0-59 * * * * . ./.bash_profile ; /home/ospadmin/RADIUS/radius/utils/restart_FreeRADIUS.sh
0 0 * * * . ./.bash_profile ; /home/ospadmin/RADIUS/radius/utils/logrotate_FreeRADIUS.sh
0 0 * * * . ./.bash_profile ; /home/ospadmin/RADIUS/radius/utils/delete_archived_radius_log_files.sh
0 * * * * . ./.bash_profile ; /home/ospadmin/RADIUS/radius/utils/detailcleanup_FreeRADIUS.sh
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Con schedule for SINGLE_PACKAGE mode / owned by ossadmin  ##
0-59 * * * * . ./.bash_profile ; $RADIUS_HOME/RADIUS/radius/utils/restart_FreeRADIUS.sh
0 0 * * * . ./.bash_profile ; $RADIUS_HOME/RADIUS/radius/utils/logrotate_FreeRADIUS.sh
0 0 * * * . ./.bash_profile ; $RADIUS_HOME/RADIUS/radius/utils/delete_archived_radius_log_files.sh
0 * * * * . ./.bash_profile ; $RADIUS_HOME/RADIUS/radius/utils/detailcleanup_FreeRADIUS.sh
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

